@model Post

<div class="w-50 p-3 border media rounded mx-auto" style="background-color: white">
    <div class="media-body">

        <h4 class="mt-0">@Model.postHeader</h4>

        <div>
            <p>@Model.postContent</p>
        </div>
        <p>Posted by @Model.userName</p>
        <small class="font-weight-lighter">@Model.postDate</small>

        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Options</button>
            <div class="dropdown-menu">
                @if (@User.Identity.Name == Model.userName)
                {
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.postId">Edit</a>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.postId">Delete</a>
                }
                <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.postId">Comment</a>
                <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Index" asp-route-id="@Model.postId">View Comments</a>
            </div>
        </div>
       

    </div>

</div>