@model Post
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="w-50 p-3 border media rounded mx-auto" style="background-color: white">
    <div class="media-body">

        <h4 class="mt-0">@Model.postHeader</h4>

        <div>
            <p>@Model.postContent</p>
        </div>
        <p>Posted by @Model.userName</p>
        <small class="font-weight-lighter">@Model.postDate</small>

        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Options</button>
            <div class="dropdown-menu">
                @if (@User.Identity.Name == Model.userName)
                {
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.postId">Edit</a>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.postId">Delete</a>
                }
                <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.postId">Comment</a>
                <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Index" asp-route-id="@Model.postId">View Comments</a>
            </div>
        </div>


    </div>

</div>