@model IEnumerable<CA3_TATJ_V2.Models.Comment>
@*@model CA3_TATJ_V2.ViewModels.CommentListViewModel*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to Gamebook!</h1>
    <p class="lead">We are very happy to see you have found our web app. We hope you have a great time here.</p>
    <hr class="my-2">
    <p>This is the cool reddit for those that like games!</p>

</div>


@foreach (var item in Model)
{
<div class="w-30 p-3 border media rounded mx-auto">
    <div class="media-body">


        <p>Posted by @item.userName</p>

        <div id="postOptions"></div>
        <div id="test1"></div>
        <div id="test2"></div>
        @if (@User.Identity.Name == @item.userName)
        {
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary"><a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.commentID" style="color:white">Edit</a></button>
                <button type="button" class="btn btn-danger"><a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.commentID" style="color:white">Delete</a></button>
            </div>
        }

        <small class="font-weight-lighter">@item.commentDate</small>
        <div>
            <h4 class="mt-0">@item.content</h4>
        </div>

    </div>
    <br>
</div>
}
