@model IEnumerable<CA3_TATJ_V2.Models.Comment>
@*@model CA3_TATJ_V2.ViewModels.CommentListViewModel*@

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var postId = ViewBag.postId;
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to Gamebook!</h1>
    <p class="lead">We are very happy to see you have found our web app. We hope you have a great time here.</p>
    <hr class="my-2">
    <p>This is the cool reddit for those that like games!</p>

</div>

@foreach (var item in Model)
{
    @if (postId == item.postId)
    {
        <div class="w-30 p-3 border media rounded mx-auto">
            <div class="media-body">

                <p>Posted by @item.userName</p>

                <small class="font-weight-lighter">@item.commentDate</small>
                <div>
                    <h4 class="mt-0">@item.content</h4>
                    @*<h4 class="mt-0">@DateTime.Now</h4>*@

                </div>

                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle float-left" data-toggle="dropdown">
                        Options
                    </button>
                    <div class="dropdown-menu">
                        @if (@User.Identity.Name == @item.userName)
                        {
                            <a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.commentID">Edit</a>
                            <a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.commentID">Delete</a>
                        }
                    </div>
                </div>
            </div>
            <br>
       </div>
    }
}





